@model Social.App.Web.Models.Company.ViewModels.CompanyLoginViewModel

<div class="page-header">
    Log In / Sign Up
    <ul class="list-inline social-buttons">
        <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
    </ul>
</div>
<form role="form" class="login-form-input">
    <div class="form-group float-label-control">
        <label for="">Username</label>
        <input type="email" class="form-control" placeholder="Username">
    </div>
    <div class="form-group float-label-control">
        <label for="">Password</label>
        <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="pull-right btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 login-terms">
            <a href="#instructions" class="pull-left">Instructions</a>
            <a href="#terms-conditions" class="pull-right">Terms</a>
        </div>
    </div>
</form>