@{ Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml"; }

@section DoctypeTag
{
    <!DOCTYPE html>
}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="Content/css/company.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="Content/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body id="page-top" class="index">





    @RenderBody()

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="header-circle let-ack-circle R-embelish"></div>
                <div class="header-circle let-ack-circle C-embelish"></div>
                <a class="navbar-brand page-scroll top-logo-fixed" style="color:#fff;" href="#page-top">Relationship Capital</a>
                <a class="navbar-brand page-scroll top-logo-short hide" style="position:absolute;color:#fff;left: 104px;" href="#page-top">R&nbsp;&nbsp;&nbsp;C</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navItemSelector customHide">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#instructions">Instructions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Company</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" style="min-height: 900px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>



        <!-- Wrapper for Slides -->
        <div class="carousel-inner" style="position: absolute;">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../../Content/img/header-bg.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../../Content/img/header-bg1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('../../Content/img/header-bg4.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>


        <div class="container">

            <div style="left: 0px; top: 20px;width: 100px;  height: 100px;opacity: 0.3;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 61px; top: -8px;width: 75px;  height: 75px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 61px; top: 57px;width: 100px;  height: 100px;opacity: 0.6;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 153px; width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 408px; top: -64px;width: 110px;  height: 110px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 245px; top: 33px;width: 105px;  height: 105px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 200px; top: 65px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 292px; top: -60px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 300px; top: 73px;width: 90px;  height: 90px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 98px; top: -65px;width: 120px;  height: 120px;opacity: 0.8;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 173px; top: 2px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 332px; top: -4px;width: 90px;  height: 90px;opacity: 0.8;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 60px; top: 184px;width: 40px;  height: 40px;opacity: 0.6;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 235px; top: -78px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>

            <style type="text/css">
                .main-slogan {
                    margin-top: -20px;
                }

                .cred-circle {
                    /*border-radius: 50%;*/
                    height: 115px;
                    width: 115px;
                }

                .pane {
                    height: 125px;
                    margin-bottom: 10px;
                }

                .sub-pane {
                    background: white;
                    opacity: 0.9;
                    filter: alpha(opacity=90);
                    color: #84000E;
                    border-radius: 4px;
                }

                .sub-pane-left {
                    padding-top: 25px;
                    background: white;
                    opacity: 0.9;
                    filter: alpha(opacity=90);
                    color: #84000E;
                    border-radius: 4px;
                    width: 370px;
                    height: 110px;
                    float: left;
                }

                .sub-pane-right {
                    padding-top: 25px;
                    background: white;
                    opacity: 0.9;
                    filter: alpha(opacity=90);
                    color: #84000E;
                    border-radius: 4px;
                    width: 370px;
                    height: 110px;
                    float: right;
                }
            </style>
            <div class="intro-text">
                <div class="col-lg-6 main-slogan">
                    <div class="pane">
                        <div style="margin-right: 25px;" class="cred-circle pull-left"></div>
                        <div class="sub-pane-left">
                            <h4>Create a Commitment</h4>
                            'CC' in <i>rc@relsocial.com</i>
                        </div>
                    </div>
                    <div class="pane">
                        <div style="margin-right: 28px; margin-left: 12px; padding-top: 9px;" class="cred-circle pull-right"></div>
                        <div class="sub-pane-right">
                            <h4>Award/Debit RC based on</h4>
                            Quality, Fulfillment, Success
                        </div>
                    </div>
                    <div class="pane">
                        <div class="cred-circle pull-left" style="margin-top: -49px; width: 184px; height: 188px;"></div>
                        <div class="sub-pane-left" style="width: 329px;">
                            <h4>Establish a Tangible Credibility!</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-lg-offset-2 login-form">
                    <div class="page-header">
                        Log In / Sign Up
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <form role="form" class="login-form-input">
                        <div class="form-group float-label-control">
                            <label for="">Username</label>
                            <input type="email" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group float-label-control">
                            <label for="">Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="pull-right btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 login-terms">
                                <a href="#instructions" class="pull-left">Instructions</a>
                                <a href="#terms-conditions" class="pull-right">Terms</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>


    </header>

    <!-- Services Section -->
    <section id="instructions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instructions</h2>
                    <h3 style="margin-bottom:20px;" class="section-subheading text-muted">Watch our video tutorials on how to use relationship capital.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workflow Integration</h4>
                    <iframe width="300" height="200" src="//www.youtube.com/embed/upzZ2oawiZI" frameborder="0" allowfullscreen></iframe>
                    <p class="text-muted">
                        Everyone has a different workflow, you don't need to change yours to start using relationship capital.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Measure &amp; Rate</h4>
                    <iframe width="300" height="200" src="//www.youtube.com/embed/upzZ2oawiZI" frameborder="0" allowfullscreen></iframe>
                    <p class="text-muted">
                        Not all commitments are measured in the same way, not all commitments are of equal importance, In this video tutorial we will show you how to earn and measure your relationship capital.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytics &amp; Reporting</h4>
                    <iframe width="300" height="200" src="//www.youtube.com/embed/upzZ2oawiZI" frameborder="0" allowfullscreen></iframe>
                    <p class="text-muted">View realtime analytics of where your currently at with your commitments.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Company</h2>
                    <h3 class="section-subheading text-muted">Relationship Capital History</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="Content/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2014</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="Content/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014</h4>
                                    <h4 class="subheading">Relationship Capital Mockups are Created</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="Content/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="Content/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2014</h4>
                                    <h4 class="subheading">Beta Release</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br>Of Our
                                    <br>Story!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Relationship Capital Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://www.lharrispartners.com/wp-content/uploads/2014/03/rob-peters.jpg" class="img-responsive img-circle" alt="">
                        <h4>Rob Peters</h4>
                        <p class="text-muted">Marketing</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="http://www.twitter.com/standardoftrust"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/robpeters59"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=217005&authType=NAME_SEARCH&authToken=pGr8&locale=en_US&srchid=1613240311408842701094&srchindex=1&srchtotal=763&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1613240311408842701094%2CVSRPtargetId%3A217005%2CVSRPcmpt%3Aprimary"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://facweb.cs.depaul.edu/yele/CIO-annual-events/2005spring/muscarello.jpg" class="img-responsive img-circle" alt="">
                        <h4>Tom Muscarello</h4>
                        <p class="text-muted">Project Management/ Business Analyist</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/tmuscare"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/tom.muscarello.3"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=2661047&authType=NAME_SEARCH&authToken=hgCZ&locale=en_US&srchid=1613240311408842828316&srchindex=1&srchtotal=3&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1613240311408842828316%2CVSRPtargetId%3A2661047%2CVSRPcmpt%3Aprimary"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://www.webitects.com/content/images/people/justin.jpg" class="img-responsive img-circle" alt="">
                        <h4>Justin Jarczyk</h4>
                        <p class="text-muted">Developer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/JJarczyk"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/jjarczyk1"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/pub/justin-jarczyk/46/3a/993"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://www.webitects.com/content/images/people/justin.jpg" class="img-responsive img-circle" alt="">
                        <h4>Peter Wensel</h4>
                        <p class="text-muted">Associate Development Intern</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/JJarczyk"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/jjarczyk1"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/pub/justin-jarczyk/46/3a/993"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="Content/img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="Content/img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="Content/img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="Content/img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Relationship Capital 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="Content/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="Content/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="Content/js/classie.js"></script>
    <script src="Content/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="Content/js/jqBootstrapValidation.js"></script>
    <script src="Content/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="Content/js/company.js"></script>

    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 4000
        });
    </script>
    <style type="text/css">
        /*!
        * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
        * Code licensed under the Apache License v2.0.
        * For details, see http://www.apache.org/licenses/LICENSE-2.0.
        */

        html,
        body {
            height: 100%;
        }

        .carousel,
        .item,
        .active {
            height: 100%;
        }

        .carousel-inner {
            height: 100%;
        }

        /* Background images are set within the HTML using inline CSS, not here */

        .fill {
            width: 100%;
            height: 100%;
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }

        footer {
            margin: 50px 0;
        }
    </style>

</body>

</html>








